*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




.bg-container{
    width: 100%;
    min-height: 100vh;
    background-color: #FFA1A9;
    padding: 25px 20px;
    display: flex;
    justify-content: center;
    
}

.responsive-container{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 780px;
    display: flex;
}

@media screen and (min-width: 730px){
    .profile-container{
        flex-direction: row;
    }
}




.icon-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

@media screen and (min-width: 730px){
    .icon-text-container{
        margin-right: 30px;
        margin-bottom: 0;
    }
}


.icon-container{
    width: 80px;
    height: 80px;
    border: 2px solid #2A2A63;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}


.custom-icon{
    font-size: 50px;
    color: #2A2A63;
}

.name{
 color: #2A2A63;
 font-size: 30px;
 font-weight: 600;
 font-family: sans-serif;
}

.paragraph{
    color: #2A2A63;
    font-family: sans-serif;
    margin-top: 10px;
    font-weight: 600;
}



.profile-details-container{
    border-bottom: 3px solid #2A2A63;
    display: flex;
    flex-direction: column;
    width: 750px;
    align-items: center;
}

@media screen and (min-width: 730px){
    .profile-details-container{
        flex-direction: row;
    }
}


.name-designation-container{
    
    /* flex-grow: 1; */
    padding: 20px 55px 28px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

@media screen and (min-width:730px){
    .name-designation-container{
        
        align-items: flex-start;
    }

}

.address-container{
    padding: 28px ;
    

}

@media screen and (min-width:730px){
    .address-container{
    
        border-left: 3px solid #2A2A63;
    }
}



/* WORK CONTAINER STYLING */

.work-container{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid #2A2A63;
}

@media screen and (min-width:730px){
    .work-container{
flex-direction: row;
justify-content: flex-start;
border-bottom: none;
    }
}

.year-desc{
    display: flex;
    margin-bottom: 20px;
}

/* skills- awards styling f*/

.skills-awards-container{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #2A2A63;
    padding-bottom: 25px;
    
    

}
@media screen and (min-width : 730px){
    .skills-awards-container{
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: none;
        
    }
}


.skills-awards-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
}
@media screen and (min-width : 730px){
    .skills-awards-details{
        width: 50%;
        flex-direction: row;
        border-top: 3px solid #2A2A63;
        border-bottom: 3px solid #2A2A63;
        width: 100%;
        max-width: 700px;
    }
    
}


.skills-container{
    /* margin-right: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
      
}

@media screen and (min-width : 730px){
    .skills-container{
        border-right: 3px solid #2A2A63;
    
    }
}

.skill{
    width: 100%;
    display: flex;
    height: 30px;
    align-items: center;
    margin-bottom: 15px;
}



.icons{
    display: flex;
    justify-content: center;
}


.dots{
    display: flex;
    justify-content: flex-start;
    flex-basis: 30%;
}

.dot{
    font-size: 100px;
    color: #2A2A63;
}
.awards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border-top: 3px solid #2A2A63; */
    padding-left: 25px;
    /* border-bottom: 3px solid #2A2A63; */


}





.awards{
    min-width: 200px;
    display: flex;

}

@media screen and (min-width : 820px){
    .awards{
        min-width: 280px;
    }
}

/* interests container  */


.interests-container{
    width: 100%;
    max-width: 780px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}

@media screen and (min-width:730px){
    .interests-container{
        flex-direction: row;
    }
}

.icon-con-bg{
    background-color: #2A2A63;
}
.icons-container{
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 3px solid #2A2A63;
    padding-bottom: 20px;
}




/* Utilities */

.r-margin{
    margin-right: 50px;
}
.l-margin{
    margin-left: 50px;
}

.f-w-500{
    font-weight: 500;
}

.flex-basis{
    flex-basis: 60%;
}
.p-width{
    width: 150px;
}

.f-s-12{
    font-size: 12px;
}

.m-r-20{
    margin-right: 20px;
}

.icon-color{
    color: aliceblue;
}